<%- include('layouts/header') %>
<body>
    <div class="wrapper">
        <div class="my-page login-page-box d-flex flex-column justify-content-between">
            <!-- img box -->
            <div class="container-sm">
                <!-- <div id="player"></div> -->
                <div class="video-container">
                    <div id="player"></div>
                  </div>
            </div>
           
        </div>
    </div>
 
</body>
<%- include('layouts/footer') %>
<script src="/js/customjs.js"></script>